.App {
  box-sizing: border-box;
  background-color: maroon;
}

.main-title {
  text-align: center;
  color:#d8d4d4;
}

.card-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  border: 2px solid black;
  width: 250px;
  height: 300px;
  margin: 5px;
  padding: 5px;
  background-color: #051676fa;
}

.cardText {
  color: #d8d4d4;
}